*, *::before, *::after {
    box-sizing: border-box;
    color: black;
    scroll-behavior: smooth;
    scroll-margin-top: 4.5rem;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
h1 {
    font-size: 1.5em;
    font-weight: 400;
}
h2 {
    font-size: 3em;
    font-weight: 500;
}
h3 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    padding: 2rem;
}
h4 {
    font-size: 1.5rem;
}
body {
    min-height: 360vh;
    position: relative;
}
header {
    height: 4.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 0.5rem;
    border-bottom: 0.15rem solid black;
    background: white;
}
.header-content {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    border-top: 0.15rem solid black;
}
.header-nav {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0.3;
    height: 4rem;
    font-size: 1.5rem;
    align-items: center;
}
.header-logo {
    width: 2em;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    height: 4rem;
    padding-left: 0.5em;
}
.augalijos-namai:before {
    content: "";
    position: absolute;
    top: 4.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("./img/mainBackground.jpg");
    opacity: 0.6;
    z-index: -1;
    background-repeat: no-repeat;
    max-height: 95vh;
}
.augalijos-namai {
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: center;
}
.mainLogo {
    height: 10rem;
}
.augalijos-namai-content {
    flex-grow: 0.6;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: white;
}
.gydomieji-augalai {
    margin: 4rem;
}
.gydomieji-augalai-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.gydomieji-augalai-wrap {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-basis: 45%;
    flex-grow: 0.8;
}
.gydomieji-augalai-wrap img {
    width: 80%;
    flex: 1 0 30%;
}
.nykstantys-augalai {
    min-height: 95vh;
}
.nykstantys-augalai-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.nykstantys-augalai-wrap {
    flex-basis: 14%;
    margin: auto;
    min-width: 15%;
}
.nykstantys-augalai-wrap img {
    width: 100%;
}
.misku-nauda-content {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    align-items: center;
    gap: 20px;
}
.misku-nauda-img img {
    width: 100%;
    aspect-ratio: 13/4;
}
.misku-nauda-text {
    display: flex;
    gap: 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    opacity: 0.6;
}
@media screen and (max-width: 769px) {
    header {
        height: 10rem;
        position: relative;
    }
    .header-content {
        height: 9.5rem;
        flex-wrap: wrap;
    }
    .logo a {
        display: none;
    }
    .logo {
        height: 5rem;
    }
    .logo img {
        width: 3em;
    }
    .header-nav {
        width: 100vw;
        justify-content: space-between;
        padding-right: 0.5em;
        padding-left: 0.5em;
        border-top: 0.15rem solid black;
    }
    .augalijos-namai {
        height: 85vh;
    }
    .gydomieji-augalai-wrap, .gydomieji-augalai-content, .nykstantys-augalai-wrap, .nykstantys-augalai-content, .misku-nauda-text {
        flex-direction: column;
    }
}