body{
    margin: 0;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}



.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    font-size: 12px;
    display: flex;
    margin-top: 0.15rem;
    border-top: 0.15rem solid black;
    border-bottom: 0.15rem solid
    black;
    height: 3em;
    justify-content: space-between;

}

.headerNav {
    align-self: center;

}

.logo {
    display: flex;
    align-items: center;
}


.content {
    display: flex;
    background-image: url(img/mushroomForest.jpg);
    flex-grow: 1;
    justify-content: center;
}

.rectangle {
    background-color: blue;
    padding: 1rem;
    border: 5px solid black;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    flex-basis: 20em;

     /* Adjust as needed */
}

/* Apply styles for mobile screens using media queries */
@media screen and (max-width: 768px) {
    header {

    }
}