* {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 4.5rem;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
}

h2 {
    font-size: 3em;
    font-weight: 500;
}

h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 7rem;
}

body {
    min-height: 400vh;
    position: relative;
}

header {
    height: 4.5rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding-top: 0.5rem;
    border-bottom: 0.15rem solid black;
}

.header-container {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    border-top: 0.15rem solid black;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0.5;
    height: 4rem;
    font-size: 1em;
    align-items: center;
}

.header-logo {
    width: 2em;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    height: 4rem;
    padding-left: 0.5em;
}

.augalijos-namai:before {
    content: "";
    position: absolute;
    top: 4.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/img/mainBackground.jpg");
    opacity: 0.6;
    z-index: -1;
    background-repeat: no-repeat;
}

.augalijos-namai {
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: center;
}

.mainLogo {
    height: 10rem;
}

.augalijos-namai-content {
    background-color: white;
    flex-grow: 0.6;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.gydomieji-augalai h3, .nykstantys-augalai h3 {
    padding: 7rem;
}

.gydomieji-augalai {
    background-color: white;
    min-height: 95vh;
}
.gydomieji-augalai-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.gydomieji-augalai-wrap {
    display: flex;
    align-items: center;
    max-width: 40vw;
    text-align: center;
    gap: 20px;
}

.gydomieji-augalai-wrap img, .nykstantys-augalai-wrap img{
    width: 10em;
}

.nykstantys-augalai {
    background-color: white;
    min-height: 95vh;
}

.nykstantys-augalai-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
    gap: 20px;
}

.nykstantys-augalai-wrap {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 14%;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    /* flex-grow: 1; */
    min-width: 15%;
}

.nykstantys-augalai-wrap img {
    aspect-ratio: 2/1;
    width: 100%;
}

.misku-nauda {
    background-color: white;
    min-height: 95vh;
}

.misku-nauda-content {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    gap: 20px;
}

.misku-nauda-photo img {
    width: 100%;
    aspect-ratio: 10/3;
}

.misku-nauda-text {
    display: flex;
    gap: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    opacity: 0.6;
}

@media screen and (max-width: 721px) {
    header {
        height: 10rem;
        position: relative;
    }
    .header-container {
        height: 9.5rem;
        flex-wrap: wrap;
    }
    .logo a {
        display: none;
    }
    .logo {
        height: 5rem;
    }
    .logo img {
        width: 3em;
    }
    .header-nav {
        width: 100vw;
        justify-content: space-between;
        padding-right: 0.5em;
        padding-left: 0.5em;
        border-top: 0.15rem solid black;
    }
    .gydomieji-augalai-wrap, .gydomieji-augalai-content, .nykstantys-augalai-wrap, .nykstantys-augalai-content {
        flex-direction: column;
        max-width: 70vw;
        margin: auto;
    }
    .misku-nauda-text {
        flex-direction: column;
    }
}
