* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    box-sizing:border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 5vh;
}

h1 {
    font-size: 2vh;
    font-weight: 400;
}

h2 {
    font-size: 4vh;
    font-weight: 500;
}

h3 {
    text-align: center;
    font-weight: 500;
    font-size: 4vh;
}

body {
    height: 400vh;
    position: relative;
}

main { 
    display: flex;
    flex-direction: row;
    height: 400vh;
    justify-content: space-around;
}

header {
    display: flex;
    margin-top: 0.15rem;
    border-top: 0.15rem solid black;
    border-bottom: 0.15rem solid
    black;
    height: 5vh;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.header-nav {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    flex-grow: 0.25;
    font-size: 1.5vh;
}

.header-logo {
    max-height: 4vh;
}

.logo {
    display: flex;
    align-items: center;
}

.container {
    height: 100vh;
    display: flex;
    background-image: url("/img/mainBackground.jpg");
    opacity: 0.6;
}

.augalijosNamai {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainLogo {
    height: 20vh;
}

.content {
    flex-grow: 1;
    justify-content: space-between;  
    align-content: center;
}

.mainContent {
    background-color: white;
    padding: 9rem;
    flex-grow: 0.5;
    align-self: center;
    text-align: center;
    height: 50vh;
}

.gydomiejiAugalai {
    background-color: white;
    height: 100vh;
}

.nykstantysAugalai {
    background-color: white;
    height: 100vh;
}

.miskuNauda {
    background-color: white;
    height: 100vh;
}


/* Apply styles for mobile screens using media queries */
/* @media screen and (max-width: 768px) {
    header {

    }
} */